body {
    margin: 0;
    height: 3000px;
    transition: background-color 0.1s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#titulo {
    color: black;
}